# ======================
# Node.js / Frontend Web
# ======================

# Node modules
node_modules/
.pnp/
.pnp.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
dist/
build/
out/
.cache/
*.local

# Environment files
.env
.env.*.local

# Editor directories
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# ======================
# Python / Backend API
# ======================

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
venv

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
#lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.whl

# PyInstaller
*.manifest
*.spec

# Environment
env/
venv/
ENV/
.venv/
.ENV/

# Pytest / Coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter
.ipynb_checkpoints

# Logs
*.log

# Editor directories
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# ======================
# General
# ======================
*.swp
*.tmp
*.bak
*.old
